<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, eveniet ut! Repellat, non. Fugiat labore pariatur quasi deserunt accusamus quo.</p>
    </div>
</section>